
<div class="container-fluid animated animated-fast fadeIn">

    <h4>Consumos</h4>

    <div class="panel panel-default table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Parte</th>
                    <% for (var i in contadores) { %>
                        <th class="text-center"><%= contadores[i].nombre %></th>
                    <%}%>

                </tr>
            </thead>

            <tbody>

                <% for (var i in quizes) { %>

                    <tr>

                        <td> <%= quizes[i].dia %>-<%= quizes[i].mes %>-<%= quizes[i].any %></td>
                        <td> <%= quizes[i].id %></td>


                        <% for (var x in quizes[i].comments) { %>

                            <% if (quizes[i].comments[x].cumple) {%>

                                <td class="text-center"> <%= quizes[i].comments[x].consumo %></td>


                            <%}%>
                            <% if (!quizes[i].comments[x].cumple) {%>

                                <td class="text-center" style="color:red"> <%= quizes[i].comments[x].consumo %></td>

                            <%}%>

                        <%}%>



                    </tr>

                <%}%>
            </tbody>
        </table>
    </div>


</div>
