
<div class="container-fluid animated animated-fast fadeIn">

    <h4>Consumos</h4>

    <div class="panel panel-default table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Parte</th>
                    <% for (var i in contadores) { %>
                        <th class="text-center"><%= contadores[i].nombre %></th>
                    <%}%>

                </tr>
            </thead>

            <tbody>

                <% for (var i in quizes) { %>

                    <tr>

                        <td> <%= quizes[i].dia %>-<%= quizes[i].mes %>-<%= quizes[i].any %></td>
                        <td> <%= quizes[i].id %></td>


                        <% for (var x in quizes[i].comments) { %>

                            <% if (quizes[i].comments[x].cumple) {%>

                                <td class="text-center"> <%= quizes[i].comments[x].consumo %></td>

                            <%}%>


                            <% if (!quizes[i].comments[x].cumple) {%>

                                <td class="text-center" style="color:red">

                                    <% if (quizes[i].comments[x].texto) {%>


                                        <a style="color:red" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= quizes[i].comments[x].id %>" aria-expanded="true" aria-controls="collapseOne">
                                            <%= quizes[i].comments[x].consumo %> <i class="fa fa-comment" style="color:#BDBDBD"></i>
                                        </a>

                                        <div id="<%= quizes[i].comments[x].id %>" class="panel-collapse collapse" role="tabpanel">
                                            <div class="panel-body">
                                                <pre><%= quizes[i].comments[x].texto %></pre>

                                            </div>
                                        </div>



                                    <%} else { %>

                                        <%= quizes[i].comments[x].consumo %>

                                    <%}%>

                                </td>

                            <%}%>

                        <%}%>



                    </tr>

                <%}%>
            </tbody>
        </table>
    </div>


</div>
